//FONTS
$mainFont: 'Rubik', sans-serif;

//FONT WEIGHTS
$normal: 400;
$bold: 500;

//FONT SIZES
$mainFontSize: 18px;

//COLORS
$primaryBlue: hsl(231, 69%, 60%);
$primaryRed: hsl(0, 94%, 66%);
$neutralBlue: hsl(229, 8%, 60%);
$neutralDarkBlue: hsl(229, 31%, 21%);

//SHADOW
$shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);

//RADIUS
$borderRadius: 6px;

//MAX-WIDTH
$maxWidth: 1440px;

//TRANSITION
$transition: 0.3s ease;